* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
}

.media {
    margin-top: 100px;
    flex-basis: 10%;
}

.logo {

    flex-basis: 60%;
}

nav {
    display: block;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

ul {

    list-style-type: none;
    width: 40%;
    text-align: center;
    margin: 0 auto;

}

li {
    height: 50px;
    display: block;
    float: left;
    width: 20%;
    line-height: 50px;

    cursor: pointer;
}

a {
    height: 50px;
    text-decoration: none;
    display: block;
    background-color: goldenrod;
}

ul::after {
    content: "";
    display: block;
    clear: both;
}