* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


header {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 10px;
    width: 100%;
}

.media {
    margin-top: 10vh;
    flex-basis: 10%;
}

.logo {
    flex-basis: 60%;
}

.logo img {
    width: 35vw;
}

nav {
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    width: 35vw;
}


ul {

    list-style-type: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;

}

ul::after {
    content: "";
    display: block;
    clear: both;
}

li {
    height: 50px;
    display: block;
    float: left;
    width: 20%;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
}


.ima {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-color: black;
    display: none;
    opacity: 0;
}

.ima i {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 80px;
    z-index: 2;
}

a {
    height: 50px;
    text-decoration: none;
    display: block;
    transition: 0.5s linear;
}

a:hover {
    background-color: goldenrod;
    color: black;
    opacity: 0.8;
}

.clock {
    max-width: 300px;
    min-width: 300px;
    position: absolute;
    top: 10vh;
    right: 5vw;
    transition: 0.5s linear;

}

.clock p {
    font-family: 'Nova Square', cursive;
    display: block;
    float: left;
    font-size: 60px;
    text-transform: uppercase;
}



.clock::after {
    content: "";
    clear: both;
    display: block;
}


i {
    font-size: 60px;
    display: block;
    transition: 0.5s linear;
}

i:hover {
    cursor: pointer;
    background-color: goldenrod;
    opacity: 0.5;
}

.images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;


}

.images img {
    width: 30vw;
    flex-basis: 30%;
    flex-shrink: 0;
    transition: 0.3s linear;
    margin-top: 30px;

}

.images img:hover {
    opacity: 0.5;
    border: 3px goldenrod solid;
}

@media(max-width:1466px) {
    ul {
        position: fixed;
        top: 0;
        left: 0;
    }

    header {
        margin-top: 10vh;
    }

    .clock {
        display: none;

    }

    .media {
        display: none;
    }

    .logo img {
        width: 100vw;

    }


    nav {
        z-index: 1;
    }

    .images img {
        flex-basis: 100%;

        transition: 0.1s linear;
    }


    i {
        transition: 0.1s linear;
    }

}

@media(max-width:540px) {
    ul {
        position: fixed;
        top: 0;
        left: 0;
        font-size: 10px;
    }

    header {
        margin-top: 8vh;
    }

    .clock {
        display: none;

    }

    .media {
        display: none;
    }

    .logo img {
        width: 100vw;

    }

    nav {
        z-index: 1;
    }

    .images img {
        flex-basis: 100%;
        width: 100vw;
        height: 100vh;
        transition: 0.1s linear;
    }


    i {
        transition: 0.1s linear;
    }


}